language: go
os:
  - linux
  - osx
go:
  - "1.9.x"
  - "1.10.x"
  - "1.11.x"
  - "1.12.x"
  - "1.13.x"

before_install:
  - go get -t -v ./...

script:
  - go test -coverprofile=coverage.txt -covermode=count -v

after_success:
  - bash <(curl -s https://codecov.io/bash)